<header class="header">
    <div class="logo-container">
        <a routerLink="/dashboard" class="logo">
            <img src="/assets/images/logo-mt4networks2.png" style="position: relative; width: 96px; top: -9px; margin-right: 0px;" />
        </a>
        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">      
        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a>
                <figure class="profile-picture">
                    <img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
                    <span class="name">Marcelo Roman Junior</span>
                    <span class="role">Administrador</span>
                </div>                
            </a>
        </div>
    </div>
    <!-- end: search & user box -->
</header>