<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Recursos
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano" style="background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0px, rgb(248, 248, 248) 100%) repeat scroll 0% 0%; box-shadow: none;">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a style="color: #337ab7!important;" routerLink="/ssh" routerLinkActive="nav-active">
                            <i class="fa fa-terminal" aria-hidden="true"></i>
                            <span>SSH</span>
                        </a>
                    </li>

                    <li>
                        <a style="color: #337ab7!important;" routerLink="/criptografia" routerLinkActive="nav-active">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            <span>Criptografia</span>
                        </a>
                    </li>

                    <li>
                        <a style="color: #337ab7!important;" routerLink="/auditoria" routerLinkActive="nav-active">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <span>Auditoria</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />

        </div>

    </div>

</aside>