<div class="panel panel-default anim-slide-left">
    <div class="panel-heading">
        Criptografia        
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                

                    <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <label>Texto</label>
                        <input [(ngModel)]="texto" type="text" class="form-control">
                    </div>


                    <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <label>Chave</label>
                        <input [(ngModel)]="chave" type="text" class="form-control">
                    </div>

                    <div class="form-group col-sm-2 col-md-6 col-lg-3 pull-right">
                        <br>
                        <button id="btnFiltrar" (click)="criptografar()" style="margin-top: 6px;" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-key fa-fw"></i>Criptografar</button>
                        <button id="btnFiltrar" (click)="descriptografar()" style="margin-top: 6px;" type="submit" class="btn btn-warning btn-sm"><i class="fa fa-key fa-fw"></i>Descriptografar</button>
                    </div>
                
            </div>
        </div>
        <div class="row">
          <hr>
        <div class="col-lg-12">
            <div class="panel panel-default anim-slide-left">
                <div class="panel-heading">
                    Resultado        
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <span  *ngIf="mostrarTexto">{{criptografiaDto.texto}}></span>
                            <span *ngIf="!mostrarTexto">{{criptografiaDto.textoCriptografado}}></span>
                            
                        </div>
                    </div>
                </div>          
            </div>
          </div>
          </div>
    </div>

    
</div>
