<p>
  ssh works!
</p>

<section class="terminal terminal-focused">
   <div class="terminal-viewport">
      <div class="terminal-results">
         <pre class="terminal-line">  Welcome to vtortola.GitHub.io</pre>
         <pre class="terminal-line">  This is an example of ng-terminal-emulator.</pre>
         <pre class="terminal-line">  </pre>
         <pre class="terminal-line">  Please type 'help' to open a list of commands</pre>
         <br>
         <pre class="terminal-line">anon@\:&gt;ls</pre>
         <pre class="terminal-line">  [DIR]		..</pre>
         <pre class="terminal-line">  </pre>
         <pre class="terminal-line">  Total: 1</pre>
         <br>
      </div>
      <span class="terminal-prompt ng-binding" ng-show="showPrompt">anon@\:&gt;</span><span class="terminal-input ng-binding">
      </span><span class="terminal-cursor terminal-cursor-hidden">_</span>
        <input type="text" ng-model="commandLine" class="terminal-target ng-pristine ng-valid">
   </div>  
</section>